.homeA{
    background:rgba(0,0,0,0.3) url(../images/board.png)no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content:flex-end;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
    border-bottom: none;
    padding-bottom: 2rem;
}